<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Brandon Logan</title>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <nav class="blue-grey lighten-5" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo"><%= image_tag 'logo-brandon-logan-tm1.png', height: '60' %></a>


      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <%= yield %>
  <footer class="page-footer red lighten-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">What We Do!</h5>
          <p class="grey-text text-lighten-4">We reinvent the graphic design and advertising industry through Artificial Intelligence. Deliver brand designs better, faster and less expensive is our mission. </p>


        </div>
        <div class="col l3 s12">
   
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://www.facebook.com/lets.brandonizetheworld/">Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
       By <a class="orange-text text-lighten-3" href="/">© Brandon Logan</a>
      </div>
    </div>
  </footer>

  </body>
</html>
