<div class="row">
  <%= form_tag('/', class: "col s12", method: :get) do -%>

    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <div class="row center">
          <h5 class="header col s12 light">They are the recommended designers</h5>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="">

        <div class="row">
          <div>
            <div class="col s12 m2"></div>
            <div class="col s12 m8">


              <div class="card">
     
                  <div class="card-content">
                    Designers
                  </div>

                <div class="card-action">


  <ul class="collection">
    <li class="collection-item avatar">
      <%= image_tag("profile1.png", class: "circle") %>
      <span class="title">Juan Martinez</span>
        <br/>
        <div class="percentageContainer" data-prob=88.3>
          <span class="percentageValue"></span>
          <span class="prob">88.3%</span>
        </div>

    </li>
    <li class="collection-item avatar">
      <%= image_tag("profile2.png", class: "circle") %>
      <span class="title">Victor Proaño</span>
        <br/>
        <div class="percentageContainer" data-prob=85.79>
          <span class="percentageValue"></span>
          <span class="prob">85.79%</span>
        </div>

    </li>
    <li class="collection-item avatar">
      <%= image_tag("profile3.png", class: "circle") %>
      <span class="title">Carlos Navas</span>
      <br/>
        <div class="percentageContainer" data-prob=79.8>
          <span class="percentageValue"></span>
          <span class="prob">79.8%</span>
        </div>

    </li>
    <li class="collection-item avatar">
      <%= image_tag("profile4.png", class: "circle") %>
      <span class="title">Paul Pinto</span>
      <br/>
        <div class="percentageContainer" data-prob=65.8>
          <span class="percentageValue"></span>
          <span class="prob">65.8%</span>
        </div>

    </li>
  </ul>
           

                </div>
         
              </div>

            </div>
            <div class="col s12 m2"></div>
          </div>

        </div>

      </div>

    </div>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m5"></div>
          <div class="col s12 m2">
          </div>
          <div class="col s12 m5"></div>
        </div>
        <div class="row">
          <br/>
          <a href="/summary">volver</a>
        </div>
      </div>
    </div>



  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-trigger">
    <div class="modal-content">
      <h4>Generated Image</h4>
      <p><%= image_tag('frank.jpg', size: "500") %></p>
    </div>
    <div class="modal-footer">
      <% Tags.all.sample(7).each do |tag| %> 
        <div class="chip"><%= tag %></div>
      <% end %>
    </div>
  </div>
          


    <%= javascript_tag do %>
      function setPercentage(value, container, element) {
          var newWidth = parseInt(container.width() * value / 100.0);
          element.animate({
             width: newWidth + "px"
          }, 500);
      }

      var bars = $(".percentageContainer");
      bars.each(function() {
        var percentageValue = parseFloat(this.getAttribute("data-prob"));
        var percentage = this.getElementsByClassName('percentageValue')[0];
        setPercentage(percentageValue, $(this), $(percentage));
      });


      $(document).ready(function(){
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
      });
          
    <% end %>
  <% end -%>
</div>
