<div class="row">
  <%= form_tag('/tags?submit=true', class: "col s12", method: :get) do -%>

    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <div class="row center">
          <h5 class="header col s12 light">Remove tags that don't fit your brand, feel free to add the ones that you think fit!</h5>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="">

        <!--   Mind Marks   -->
        <h6>Mind Marks</h6>
        <div class="row">
          <div>
            <div class="chips chips-initial"></div>

          </div>

        </div>
        <div class="row">
          <% Tags::MIND_MARKS.values.flatten.each_with_index do |c, i| %>
            <div class="chip chip-click" data-chipstarget=".chips-initial" data-name="<%= c %>" id="mind-marks-<%= i %>">
            <%= c %>
            <a class="tooltipped grey-text darken-1" data-position="top" data-delay="50" data-tooltip="<%= c %>">?</a>
            </div>
          <% end %>
        </div>

      </div>

      
      <div class="">

        <!--   Archetypes   -->
        <h6>Brand Archetypes</h6>
        <div class="row">
          <div>
            <div class="chips chips-2 chip-archetypes">
            </div>

          </div>

        </div>
        <div class="row">
          <% Tags::BRAND_ARCHETYPES.values.flatten.each_with_index do |c, i| %>
            <div class="chip chip-click" data-chipstarget=".chip-archetypes" data-name="<%= c %>" id="archetype-<%= i %>">
            <%= c %>
            <a class="tooltipped grey-text darken-1" data-position="top" data-delay="50" data-tooltip="<%= Tags::BRAND_ARCHETYPES_DESC[c]%>" >?</a>
            </div>
          <% end %>
        </div>
      </div>

<div class="">

        <!--   Values   -->
        <h6>Brand Values</h6>
        <div class="row">
          <div>
            <div class="chips chips-3 brand-values"></div>
          </div>

        </div>       
        <div class="row">
          <% Tags::BRAND_VALUES.values.flatten.each_with_index do |c, i| %>
            <div class="chip chip-click" data-chipstarget=".brand-values" data-name="<%= c %>" id="brand-<%= i %>">
            <%= c %>
            <a class="tooltipped grey-text darken-1" data-position="top" data-delay="50" data-tooltip="<%= Tags::BRAND_VALUES_EXAMPLE.sample %>">?</a>
            </div>
          <% end %>
        </div>
      </div>

    </div>


    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m5"></div>
          <div class="col s12 m2">
            <button class="btn red lighten-1" type="submit" name="boton" value="tags" >Continue
              <i class="material-icons right">Continue</i>
            </button>

          </div>
          <div class="col s12 m5"></div>
        </div>
        <div class="row">
          <br/>
          <a href="/search">back</a>
        </div>
      </div>
    </div>

  <% end -%>

    <%= javascript_tag do %>
      $(document).ready(function(){
        $('.tooltipped').tooltip({delay: 50});

        $( ".chip-click" ).on( "click", function() {
          var chip =   '<div class="chip chip-info">' +
                        $( this ).data("name") +
                        '<i class="close material-icons" data-tagtarget="#' +
                         $( this ).attr('id') + '" >close</i>' +
                       '</div>' ;
                             
          $( $( this ).data("chipstarget") ).append( chip );
          $( this ).hide();

          $( ".chip-info" ).on( "click", function() {
            $($( this ).find('.close').data("tagtarget")).show();
          });
        });



      });
    <% end %>
</div>
