<div class="row">
  <%= form_tag('/tags?submit=true', class: "col s12", method: :get) do -%>

    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <div class="row center">
          <h5 class="header col s12 light">Remove tags that don't fit your brand, feel free to add the ones that you think fit!</h5>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="">

        <!--   Mind Marks   -->
        <h6>Mind Marks</h6>
        <div class="row">
          <div>
            <div class="chips chips-initial"></div>

            <%= javascript_tag do %>
                var chips = <%= raw(Tags::MIND_MARKS.values.flatten.map{|w| {tag: w} }.sample(12).to_json) %>;
                $('.chips').material_chip();
                $('.chips-initial').material_chip({
                  data: chips,
                }); 
                      
            <% end %>
          </div>

        </div>

      </div>

      
      <div class="">

        <!--   Archetypes   -->
        <h6>Archetypes</h6>
        <div class="row">
          <div>
            <div class="chips-2 archetypes"></div>

            <%= javascript_tag do %>
                var chips_2 = <%= raw(Tags::CHARACTER_ARCHETYPES.values.flatten.map{|w| {tag: w} }.sample(12).to_json) %>;
                $('.chips-2').material_chip();
                $('.archetypes').material_chip({
                  data: chips_2,
                }); 
                      
            <% end %>
          </div>

        </div>

      </div>

<div class="">

        <!--   Values   -->
        <h6>Values</h6>
        <div class="row">
          <div>
            <div class="chips-3 brand-values"></div>

            <%= javascript_tag do %>
                var chips = <%= raw(Tags::BRAND_VALUES.values.flatten.map{|w| {tag: w} }.sample(12).to_json) %>;
                $('.chips-3').material_chip();
                $('.brand-values').material_chip({
                  data: chips,
                }); 
                      
            <% end %>
          </div>

        </div>       

      </div>

    </div>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 m5"></div>
          <div class="col s12 m2">
            <button class="btn red lighten-1" type="submit" name="boton" value="tags" >Submit
              <i class="material-icons right">Continue</i>
            </button>

          </div>
          <div class="col s12 m5"></div>
        </div>
        <div class="row">
          <br/>
          <a href="/search">back</a>
        </div>
      </div>
    </div>

  <% end -%>
</div>
